
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.8;
  background-color: #fdf6ec; 
  color: #333;
}


.topo {
  background: #ffb703; 
  color: rgb(87, 87, 165);
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  display: flex; 
  gap: 20rem;
}


.conteudo {
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.conteudo h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fb8500; 
}

.conteudo p {
  margin-bottom: 20px;
  font-size: 1.1rem;
  text-align: justify;
}

footer{
  background: #023047; 
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}


a{
    text-decoration: none;
    color: #a88f72;
}