

@media (max-width: 768px) {

  
  .topo {
    padding: 15px;
  }

  .topo nav ul {
    display: none; 
    flex-direction: column;
    background: #d62828;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
  }

 
  .menu-btn {
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 10px;
    color: #fff;
    transition: 0.3s;
  }

  .menu-btn:hover {
    transform: scale(1.1);
  }

  
  .topo nav.active ul {
    display: flex;
  }

  
  .topo nav ul li {
    display: block;
    margin: 10px 0;
  }

  .topo nav ul li a {
    font-size: 1.2rem;
  }


  
  .banner {
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
  }

  .banner h2 {
    font-size: 1.8rem;
  }

  .banner p, #txt {
    font-size: 1rem;
    margin: 10px 0;
  }


 
  .grid, .Doces {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .item {
    width: 100%;
    padding: 10px;
  }

  .item h3 {
    font-size: 1rem;
  }


 
  .tx {
    font-size: 1.1rem;
    line-height: 1.8;
  }

  a {
    font-size: 1.1rem;
  }

  a:hover {
    transform: scale(1.1);
  }



  footer {
    font-size: 0.9rem;
    padding: 10px;
  }
}



@media (max-width: 480px) {

  .banner h2 {
    font-size: 1.6rem;
  }

  .grid, .Doces {
    grid-template-columns: 1fr; 
  }

  .item img {
    border-radius: 12px;
  }

  .item {
    padding: 12px;
  }
}
